[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.103.1"
llama-index = "0.9.10"
langchain = "0.0.342"
pydantic = "~=1.10"
python-dotenv = "~=1.0"
python-multipart = "~=0.0"
gunicorn = "~=20.1"
uvicorn = "~=0.22"
traceloop-sdk = "*"

[dev-packages]
uvicorn = {extras = ["standard"], version = "~=0.22"}

[requires]
python_version = "3.11"
